
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="page-header-inner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        {% include versions.html %}
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          {% assign latestVersion = site.versions | last %}
          <a href="{{ site.api_docs_path }}" class="btn">View Docs</a>
        {% endif %}
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      {% include footer.html %}
    </main>
  </body>
</html>
